IL2CPPTESTS/Library/
IL2CPPTESTS/
Library/
obj/
.idea/
Logs/
Packages/packages-lock.json
Packages/com.sebaslab.svelto.common/CHANGELOG.md.meta
Packages/com.sebaslab.svelto.common/Command.meta
Packages/com.sebaslab.svelto.common/Context.meta
Packages/com.sebaslab.svelto.common/DataStructures.meta
Packages/com.sebaslab.svelto.common/LICENSE.meta
Packages/com.sebaslab.svelto.common/Logger.meta
Packages/com.sebaslab.svelto.common/Makefile.meta
Packages/com.sebaslab.svelto.common/ObjectPool.meta
Packages/com.sebaslab.svelto.common/package.json.meta
Packages/com.sebaslab.svelto.common/PlatformProfiler.meta
Packages/com.sebaslab.svelto.common/README.md.meta
Packages/com.sebaslab.svelto.common/Sequencer.meta
Packages/com.sebaslab.svelto.common/Svelto.Common.asmdef.meta
Packages/com.sebaslab.svelto.common/Svelto.Common.csproj.meta
Packages/com.sebaslab.svelto.common/Svelto.Common.nuspec.meta
Packages/com.sebaslab.svelto.common/Svelto.Common.sdpkg.user
Packages/com.sebaslab.svelto.common/Svelto.Common.sdpkg.user.meta
Packages/com.sebaslab.svelto.common/Svelto.Common.targets.meta
Packages/com.sebaslab.svelto.common/Utilities.meta
Packages/com.sebaslab.svelto.common/version.json.meta
Packages/com.sebaslab.svelto.common/Command/CommandFactory.cs.meta
Packages/com.sebaslab.svelto.common/Command/ICommand.cs.meta
Packages/com.sebaslab.svelto.common/Command/ICommandFactory.cs.meta
Packages/com.sebaslab.svelto.common/Command/IInjectableCommand.cs.meta
Packages/com.sebaslab.svelto.common/Context/ContextNotifier.cs.meta
Packages/com.sebaslab.svelto.common/Context/Extensions.meta
Packages/com.sebaslab.svelto.common/Context/ICompositionRoot.cs.meta
Packages/com.sebaslab.svelto.common/Context/IContextNotifer.cs.meta
Packages/com.sebaslab.svelto.common/Context/IWaitForFrameworkDestruction.cs.meta
Packages/com.sebaslab.svelto.common/Context/IWaitForFrameworkInitialization.cs.meta
Packages/com.sebaslab.svelto.common/Context/Extensions/Unity.meta
Packages/com.sebaslab.svelto.common/Context/Extensions/Unity/UnityContext.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/Arrays.meta
Packages/com.sebaslab.svelto.common/DataStructures/Dictionaries.meta
Packages/com.sebaslab.svelto.common/DataStructures/DualMemorySupport.meta
Packages/com.sebaslab.svelto.common/DataStructures/HashHelpers.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/RefWrapper.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/RingBuffer.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/Sentinel.meta
Packages/com.sebaslab.svelto.common/DataStructures/ThreadSafeQueue.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/ThreadSafeStack.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/TypeCache.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/WeakReference.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/Arrays/FasterList.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/Arrays/FasterListEnumerator.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/Arrays/FasterReadOnlyList.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/Arrays/LocalFasterReadOnlyList.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/Arrays/ThreadSafeFasterList.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/Dictionaries/FasterDictionary.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/Dictionaries/LocalReadonlySveltoDictionaryNative.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/Dictionaries/LocalSveltoDictionaryNative.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/Dictionaries/ReadonlySveltoDictionaryNative.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/Dictionaries/SharedSveltoDictionaryNative.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/Dictionaries/SparseSet.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/Dictionaries/SveltoDictionary.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/Dictionaries/SveltoDictionaryNative.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/Dictionaries/SveltoDictionaryNode.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/Dictionaries/ThreadSafeDictionary.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/DualMemorySupport/IBuffer.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/DualMemorySupport/IBufferStrategy.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/DualMemorySupport/ManagedStrategy.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/DualMemorySupport/MB.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/DualMemorySupport/NativeStrategy.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/DualMemorySupport/NB.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/Sentinel/Sentinel.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/Sentinel/SentinelNativeStrategy.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/Sentinel/SentinelNB.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/Sentinel/SharedDictionaryStruct.cs.meta
Packages/com.sebaslab.svelto.common/DataStructures/Sentinel/SharedDictonary.cs.meta
Packages/com.sebaslab.svelto.common/Logger/ILogger.cs.meta
Packages/com.sebaslab.svelto.common/Logger/SimpleLogger.cs.meta
Packages/com.sebaslab.svelto.common/Logger/Unity.meta
Packages/com.sebaslab.svelto.common/Logger/Unity/FastLoggerUnity.cs.meta
Packages/com.sebaslab.svelto.common/Logger/Unity/SlowLoggerUnity.cs.meta
Packages/com.sebaslab.svelto.common/ObjectPool/IObjectPool.cs.meta
Packages/com.sebaslab.svelto.common/ObjectPool/IObjectPoolDebug.cs.meta
Packages/com.sebaslab.svelto.common/ObjectPool/ThreadSafeObjectPool.cs.meta
Packages/com.sebaslab.svelto.common/ObjectPool/Unity.meta
Packages/com.sebaslab.svelto.common/ObjectPool/Unity/Editor.meta
Packages/com.sebaslab.svelto.common/ObjectPool/Unity/GameObjectPool.cs.meta
Packages/com.sebaslab.svelto.common/ObjectPool/Unity/MonoBehaviourPool.cs.meta
Packages/com.sebaslab.svelto.common/ObjectPool/Unity/PoolDebugger.cs.meta
Packages/com.sebaslab.svelto.common/ObjectPool/Unity/Editor/PoolDebuggerCustomInspector.cs.meta
Packages/com.sebaslab.svelto.common/ObjectPool/Unity/Editor/Svelto.Pool.Debugger.asmdef.meta
Packages/com.sebaslab.svelto.common/PlatformProfiler/PlatformProfiler.cs.meta
Packages/com.sebaslab.svelto.common/PlatformProfiler/StandardProfiler.cs.meta
Packages/com.sebaslab.svelto.common/PlatformProfiler/Unity.meta
Packages/com.sebaslab.svelto.common/PlatformProfiler/Unity/UnityPlatform.cs.meta
Packages/com.sebaslab.svelto.common/Sequencer/Sequence.cs.meta
Packages/com.sebaslab.svelto.common/Utilities/ActionRef.cs.meta
Packages/com.sebaslab.svelto.common/Utilities/Console.cs.meta
Packages/com.sebaslab.svelto.common/Utilities/DataToString.cs.meta
Packages/com.sebaslab.svelto.common/Utilities/DBC.cs.meta
Packages/com.sebaslab.svelto.common/Utilities/DebugExtensions.cs.meta
Packages/com.sebaslab.svelto.common/Utilities/FastConcatUtility.cs.meta
Packages/com.sebaslab.svelto.common/Utilities/FastInvoke.cs.meta
Packages/com.sebaslab.svelto.common/Utilities/MemoryUtilities.cs.meta
Packages/com.sebaslab.svelto.common/Utilities/Murmur3.cs.meta
Packages/com.sebaslab.svelto.common/Utilities/NetFXCoreWrappers.cs.meta
Packages/com.sebaslab.svelto.common/Utilities/ReaderWriterLockSlimEx.cs.meta
Packages/com.sebaslab.svelto.common/Utilities/SharedStatic.cs.meta
Packages/com.sebaslab.svelto.common/Utilities/ThreadUtility.cs.meta
Packages/com.sebaslab.svelto.common/Utilities/TypeToString.cs.meta
Packages/com.sebaslab.svelto.common/Utilities/UnmanagedTypeExtensions.cs.meta
